@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@1,500&display=swap);
* {
    font-family: 'Nunito', sans-serif;
}

/* CSS LOGIN AND SIGNUP */
.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-85:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    -webkit-animation: glowing-button-85 20s linear infinite;
            animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@-webkit-keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.titles {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.normalText {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}


/* END SIGNUP AND LOGIN */


/* FOOTER */

.logo {
    width: 100px;
}

/* End footer*/


/** ADD SHOP */

#map {
    width: 100%;
    height: 700px;
}

/** END ADD SHOP */

/* LIST SHOPS */

.shopMaps {
    width: 100%;
    height: 500px;
}

/* END LIST SHOP  */

.homeCarousel {
    z-index: 1;
}

.imageBg {
    /* background-image: url("/public/img/home/forest.jpg"); */
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.title-new {
    font-size: 60px;
    font-weight: 800;
    line-height: 60px;
    padding-top: 150px;
}

.gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;

    /* Chrome 10-25, Safari 5.1-6 */

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
}

.gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;

    /* Chrome 10-25, Safari 5.1-6 */

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}

.textJustificat  {
    text-align: justify !important;
    line-height : 40px;
}
/* SIDE MENU */

.sideMenu {
    position: fixed;
    width: 250px;
    height: 100vh;
    padding-top: 150px;
    opacity: 0.8;
    z-index: 2;
}

.menuLink {
    padding: 30px 0px 30px 40px;
    font-size: 18px;
    opacity: 1;

}

.menuLink:active {
    text-decoration: underline;

}

.menuLink:hover {
    background-color: white;
    color: black !important;
}

.firstLink {
    padding-top: 200px;
}

.burguer {
    font-size: 38px;
    /* padding-left: 195px; */
    padding-top: 10px;
    position: absolute;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: transparent;
    transition: 0.3s;
}

.burguer:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* END SIDE MENU */


/* Burger icon */
.burgerButton {
    border: none;
    background-color: transparent;

}

.black {
    color: black !important;
}

.white {
    color: white !important;
}

@media (max-width: 1080px) {}

@media (max-width: 700px) {
    .botons {
        margin-left: 85px !important;
    }

    .searchIcon {
        padding-left: 160px !important;
    }

    .logoMenu {
        margin-left: 200px !important;
        width: 23% !important;

    }
}

@media (max-width: 600px) {
    .botons {
        margin-left: 70px !important;
    }

    .searchIcon {
        padding-left: 165px !important;
    }

    .logoMenu {
        margin-left: 189px !important;
        width: 23% !important;

    }
}

@media (max-width: 550px) {
    .botons {
        margin-left: 50px !important;
    }

    .searchIcon {
        padding-left: 150px !important;
    }

    .logoMenu {
        margin-left: 169px !important;
        width: 23% !important;

    }
}

@media (max-width: 500px) {
    .botons {
        margin-left: 40px !important;
    }

    .searchIcon {
        padding-left: 140px !important;
    }

    .logoMenu {
        margin-left: 169px !important;
        width: 23% !important;
    }
}
body,html {
  height: 100%;
  width: 100%;
  margin: 0px;
  /* overflow-x: hidden; */
}



section .content {
    padding-left: 100px;
}

.square {
    width: 640px;
    height: 300px;
    margin-top: 10px;
  }
  
.square:after {
    content: '';
    display: block;
    padding-bottom: 100%;
}


/* SHOP form ADD*/

/* .bg-rainbow {
    background-image: url('img/shops/rainbowLight.jpeg');
} */


/* MENU TOP*/
.logoMenu {
    margin-left: 15px;
    width: 20%;

}

.searchIcon {
    padding: 40px;
    font-size: 2rem;
    color: black;
}
/*end menu top*/

/* CSS */
.button-30 {
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #c4dbfa;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#c4dbfa 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
  color:  #36395A;
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.linkMenu {
    text-decoration: none;
}


@media (max-width: 675px) {
    .logoMenu {
      margin-left: 150px;
    }

    .buttonLogin {
        margin: 0px !important;
    }

    .searchIcon {
        padding: 0px;

    }
}
section.adminSection {
    background-color: cornflowerblue;
    height: 100vh;
}

