body,html {
  height: 100%;
  width: 100%;
  margin: 0px;
  /* overflow-x: hidden; */
}



section .content {
    padding-left: 100px;
}

.square {
    width: 640px;
    height: 300px;
    margin-top: 10px;
  }
  
.square:after {
    content: '';
    display: block;
    padding-bottom: 100%;
}


/* SHOP form ADD*/

/* .bg-rainbow {
    background-image: url('img/shops/rainbowLight.jpeg');
} */


/* MENU TOP*/
.logoMenu {
    margin-left: 15px;
    width: 20%;

}

.searchIcon {
    padding: 40px;
    font-size: 2rem;
    color: black;
}
/*end menu top*/

/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #c4dbfa;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#c4dbfa 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
  color:  #36395A;
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.linkMenu {
    text-decoration: none;
}


@media (max-width: 675px) {
    .logoMenu {
      margin-left: 150px;
    }

    .buttonLogin {
        margin: 0px !important;
    }

    .searchIcon {
        padding: 0px;

    }
}