/* SIDE MENU */

.sideMenu {
    position: fixed;
    width: 250px;
    height: 100vh;
    padding-top: 150px;
    opacity: 0.8;
    z-index: 2;
}

.menuLink {
    padding: 30px 0px 30px 40px;
    font-size: 18px;
    opacity: 1;

}

.menuLink:active {
    text-decoration: underline;

}

.menuLink:hover {
    background-color: white;
    color: black !important;
}

.firstLink {
    padding-top: 200px;
}

.burguer {
    font-size: 38px;
    /* padding-left: 195px; */
    padding-top: 10px;
    position: absolute;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: transparent;
    transition: 0.3s;
}

.burguer:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* END SIDE MENU */


/* Burger icon */
.burgerButton {
    border: none;
    background-color: transparent;

}

.black {
    color: black !important;
}

.white {
    color: white !important;
}

@media (max-width: 1080px) {}

@media (max-width: 700px) {
    .botons {
        margin-left: 85px !important;
    }

    .searchIcon {
        padding-left: 160px !important;
    }

    .logoMenu {
        margin-left: 200px !important;
        width: 23% !important;

    }
}

@media (max-width: 600px) {
    .botons {
        margin-left: 70px !important;
    }

    .searchIcon {
        padding-left: 165px !important;
    }

    .logoMenu {
        margin-left: 189px !important;
        width: 23% !important;

    }
}

@media (max-width: 550px) {
    .botons {
        margin-left: 50px !important;
    }

    .searchIcon {
        padding-left: 150px !important;
    }

    .logoMenu {
        margin-left: 169px !important;
        width: 23% !important;

    }
}

@media (max-width: 500px) {
    .botons {
        margin-left: 40px !important;
    }

    .searchIcon {
        padding-left: 140px !important;
    }

    .logoMenu {
        margin-left: 169px !important;
        width: 23% !important;
    }
}